.header {
  padding: 24px 135px;
  min-height: 80px;
  width: 100%;
  background: $header-bg;
  backdrop-filter: blur(4.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    &__item > a {
      position: relative;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.08em;
      color: $nav-link;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $active-link;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        opacity: 0.3;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.footer {
  padding: 0px 135px;
  &-container {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &__copyright {
      font-family: "Lato Light";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      color: $nav-link;
      opacity: 0.6;
    }
    &__created {
      &-pre {
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        color: $nav-link;
        opacity: 0.6;
      }
      &-name {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.08em;
        color: $nav-link;
      }
    }
    &-links {
      display: flex;
      flex-direction: row;
      gap: 32px;
      &-anchor {
        &__txt {
          color: $nav-link;

          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.08em;
        }
      }
    }
  }
}
