.promises {
  padding: 0px 135px 120px;
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-features {
      max-width: 770px;
      padding: 75px 70px;
      display: grid;
      grid-template-columns: repeat(2, 300px);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 100px;
      grid-row-gap: 70px;
      margin-left: -170px;
      background: $features-bckg;
      opacity: 0.9;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1;

        &:first-child {
          grid-area: 1 / 1 / 2 / 2;
        }
        &:nth-child(2) {
          grid-area: 1 / 2 / 2 / 3;
        }
        &:nth-child(3) {
          grid-area: 2 / 1 / 3 / 2;
        }
        &:last-child {
          grid-area: 2 / 2 / 3 / 3;
        }
        &-title {
          font-family: "Playfair Display", serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 48px;
          color: $nav-link;
          text-align: center;
        }
        &-desc {
          font-family: "Lato Light";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 26px;
          color: $nav-link;
          opacity: 0.8;
        }
      }
      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        min-width: 300px;
        border: 1px solid $benefit-card-border;
      }
    }
  }
}
