.reviews {
  padding: 0px 135px 100px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    &-txt {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      &__title {
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: $nav-link;
        & > i {
          color: $home-accent;
          font-family: "Playfair Display", serif;
          font-style: italic;
        }
      }
      &__desc {
        font-family: "Lato Light";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: $nav-link;
        opacity: 0.8;
      }
    }
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
      &__item {
        flex: 1;
        max-width: 370px;
        min-height: 340px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:first-child {
          background-image: url("../photos/first-review.svg");
        }
        &:nth-child(2) {
          background-image: url("../photos/second-review.svg");
        }
        &:last-child {
          background-image: url("../photos/third-review.svg");
        }
        &-content {
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $primary;
          opacity: 0.8;
          flex: none;
          align-self: stretch;
          flex-grow: 0;
          z-index: 1;
        }
        &-author {
          font-family: "Playfair Display", serif;
          font-style: italic;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          color: $primary;
          letter-spacing: 0.08em;
        }
      }
    }
  }
}
