@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/latolight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
}
