$bg-main: linear-gradient(
  183.11deg,
  rgba(9, 18, 33, 30) 46.73%,
  #161926 63.21%
);
$header-bg: linear-gradient(
    270deg,
    rgba(22, 25, 38, 0.5) 0%,
    rgba(22, 25, 38, 0) 24.1%,
    rgba(22, 25, 38, 0) 47.19%
  ),
  rgba(22, 25, 38, 0.02);
$nav-link: #ffffff;
$active-link: linear-gradient(
  96.73deg,
  #53f3cd 6.73%,
  rgba(83, 243, 205, 0) 116.9%
);
$home-accent: #689ff2;
$home-join-btn: #53f3cd;
$benefit-card-border: #515773;
$features-bckg: #161926;
