$bg-main: linear-gradient(
  183.11deg,
  rgba(255, 255, 255, 0) 46.73%,
  #ffffff 63.21%
);
$primary: #ffffff;
$header-bg: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.244636) 24.1%,
    rgba(255, 255, 255, 0) 47.19%
  ),
  rgba(255, 255, 255, 0.02);
$nav-link: #262a3f;
$active-link: #f1897b;

$home-accent: #85bbb1;
$home-join-btn: #f1897b;
$benefit-card-border: rgba(228, 228, 228, 1);
$features-bckg: #161926;
